<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/animeinfo.css' ) }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    
    {% extends './plantilla.html'%}

    {% block contenido%}
        <div class="contenido">
            <div id="img" class="img">
                <img src="{{anime['imagen']}}" alt="">
            </div>
            <div class="descripcion">
                <h1>{{anime['nombre']}}</h1>
                <span>{{anime['descripcion']}}</span>
            </div>
            <br>
            <div>
            {% if AnimeEnLista == False %}
                <span><i class="bi bi-bookmark-check-fill"></i> Anime Agregado</span>
                
            {% else %}
                <a href="/agregar?anime={{anime}}"><i class="bi bi-bookmark-plus"></i>Agregar</a>
            {% endif %}
            </div>
        </div>
    {% endblock %}

</body>
</html>